{% extends 'base3.html.twig' %}
{% block content %}
<div class="row">
    {% for c in articles %}
        <div class="col-lg-4 col-md-6">
            <article class="post-sm">
                <div class="post-thumb">
                    <a href="{{ path('articledetail',{'id':c.idarticle}) }}" ><img class="w-100" src="{{ asset('uploads/articles/' ~ c.image ) }}" alt="Post-Image"></a>
                </div>
                <div class="post-title">
                    <h3><a href="{{ path('articledetail',{'id':c.idarticle}) }}" >{{c.titre}}</a></h3>
                </div>
                <div class="post-meta">
                    <ul class="list-inline post-tag">
                        <li class="list-inline-item">
                            <img src="{{ asset('uploads/articles/' ~ c.image ) }}" alt="author-thumb">
                        </li>
                        <li class="list-inline-item">
                            <a href="#">{{c.auteur.nom}}</a>
                        </li>
                        <li class="list-inline-item">
                            April 8, 2022
                        </li>
                    </ul>
                </div>
                <div class="post-details">
                    <p>{{c.contenu}}</p>
                </div>
            </article>
        </div>
    {% endfor %}
</div>
{% endblock %}
