{% extends 'base3.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-10 m-auto">

            <article class="single-post">
                <div class="post-title text-center">
                    <h1>{{article.titre}}</h1>
                    <ul class="list-inline post-tag">
                        <li class="list-inline-item">
                            <img src="{{ asset('uploads/articles/' ~ article.image ) }}" alt="author-thumb">
                        </li>
                        <li class="list-inline-item">
                            <a href="#">{{article.auteur.nom}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">March 8, 2022</a>
                        </li>
                    </ul>
                </div>
                <div class="post-body">
                    <div class="feature-image">
                        <img class="img-fluid" src="{{ asset('uploads/articles/' ~ article.image ) }}" alt="feature-image">
                    </div>
                    <p>{{article.contenu}}</p>

                </div>
            </article>
            <div class="about-author">
                <h2>Comments</h2>

                {% for c in commentaires %}
                <div class="media">
                    <div class="image">
                        <img class="d-flex justify-content-center align-self-center" src="images/team/marketing-team-03.jpg" alt="author-image">
                    </div>
                    <div class="media-body align-self-center">
                        <h3>{{ c.auteurC.nom }}</h3>
                        <h6>{{ c.datepub|date }}</h6>
                        <p>{{ c.contenuC }}</p>
                        <ul class="list-inline social-links">
                            <li class="list-inline-item"><a href="#"><i class="ti-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-8 text-right">
                        <a href="{{ path('deleteComment',{'id':c.idcommentaire}) }}" class="text-danger"><i class="ti-trash"></i></a>
                    </div>
                </div>
                {% endfor %}

                {{ form_start(form,{attr:{novalidate:'novalidate'}})}}
                    <div class="form-group">
                        <label>Comment</label>
                        {{ form_widget(form.contenuC , {'attr': {'class': 'form-control' , 'placeholder' : 'contenu'}} ) }}
                        {{ form_errors(form.contenuC,{'attr':{'class':'text-danger'}}) }}
                    </div>
                    {{ form_widget(form.Submit , {'attr': {'class': 'btn btn-info'}} ) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
